* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #rgba(7, 56, 66, 0);
    --color-secondary: #rgba(0, 0, 0, 0);

    --color-text-heading: var(--color-primary);
}


/* Font -----------------------------------------------------------*/

.font-4 {
    font-size: 4em;
}


/* Spacing --------------------------------------------------------*/

.margin-left-32 {
    margin-left: 32px;
}

.margin-right-32 {
    padding-right: 32px;
}

.padding-left-32 {
    padding-left: 32px;
}

.padding-right-32 {
    margin-right: 32px;
}

/* Display --------------------------------------------------------*/

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* gap ---------------------------*/

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

/* Alignment ---------------------*/

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

/* Justify -----------------------*/

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}


/* Width and height ----------------------------*/

.max-width {
    width: 100%;
}

.width-80 {
    width: 80%;
}


.max-height {
    max-height: 100%;
}

.height-580 {
    height: 580px;
}